In [ ]:
# Deliverables:
#1. convert bmi to range interger 1) under 2) ideal 3) over 4) obese
#2. convert smoker to integer
#3. convert region to integer

In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# Load in the data
insurance_df = pd.read_csv("insurance.csv")
insurance_df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [4]:
# Inspect data types
insurance_df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [8]:
# Find unique values smoker
insurance_df["smoker"].unique()

array(['yes', 'no'], dtype=object)

In [9]:
# Find unique values region
insurance_df["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [7]:
#Create bin ranges for BMI

In [ ]:
# Check for null values

# STEP 2 TRANSFORM

In [10]:
#Change Strings to Integers
insurance_df["smoker"] = insurance_df["smoker"].apply("yes":1, "no":0)

SyntaxError: invalid syntax (<ipython-input-10-b2ef5a9fe17d>, line 1)