In [1]:
# Deliverables:
#1. convert bmi to range interger 1) under 2) ideal 3) over 4) obese
#2. convert smoker to integer
#3. convert region to integer

In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# Load in the data
insurance_df = pd.read_csv("insurance.csv")
insurance_df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [4]:
# Inspect data types
insurance_df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [5]:
# check out columns
insurance_df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [6]:
# Check for missing data
for column in insurance_df.columns:
        print(f"Column {column} has {insurance_df[column].isnull().sum()} null values")

Column age has 0 null values
Column sex has 0 null values
Column bmi has 0 null values
Column children has 0 null values
Column smoker has 0 null values
Column region has 0 null values
Column charges has 0 null values

In [7]:
# Check for Duplicates
print (f"Duplicate entries: {insurance_df.duplicated().sum()}")

Duplicate entries: 1

In [ ]:
# Drop duplicate entry

In [ ]:
# remove columns that we don't need

In [9]:
# Find unique values region
insurance_df["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

# STEP 2 TRANSFORM

In [20]:
#Change Strings to Integers
# pd.get_dummies(insurance_df["smoker"])
# pd.get_dummies(insurance_df["sex"])
#insurance_df["smoker"] = insurance_df["smoker"].replace("yes" : 1, "no" : 0)
insurance_encoded = pd.get_dummies(insurance_df, columns=["smoker", "sex"])
insurance_encoded.head()

,age,bmi,children,region,charges,smoker_no,smoker_yes,sex_female,sex_male
0,19,27.900,0,southwest,16884.92400,0,1,1,0
1,18,33.770,1,southeast,1725.55230,1,0,0,1
2,28,33.000,3,southeast,4449.46200,1,0,0,1
3,33,22.705,0,northwest,21984.47061,1,0,0,1
4,32,28.880,0,northwest,3866.85520,1,0,0,1

In [17]:
# group bmi into buckets
def change_string(bmi):
    if bmi <= 18.5 :
        return 0
    else: bmi > 18.5 < 24.9
        return 1
    else: bmi > 25-29.9
        return 0
    else: >30
        return 0
insurance_encoded['bmi'] = insurance_encoded['bmi'].apply(change_string)
insurance_df.head()

SyntaxError: invalid syntax (<ipython-input-17-07dfd2116ea2>, line 3)

In [ ]:
# assign regions to integers

In [ ]:
# Saving cleaned data
file_path = "insurance_cleaned.csv"
df_shopping.to_csv(file_path, index=False)