# Basic model mockup for supervised learning

# Week One: Loading Dataset and Creating Labels

In [2]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# read in the cleaned file
insurance_df = pd.read_csv('insurance_cleaned.csv')
insurance_df.head()

,age,bmi,children,charges,smoker_no,smoker_yes,sex_female,sex_male
0,19,27.900,0,16884.92400,0,1,1,0
1,18,33.770,1,1725.55230,1,0,0,1
2,28,33.000,3,4449.46200,1,0,0,1
3,33,22.705,0,21984.47061,1,0,0,1
4,32,28.880,0,3866.85520,1,0,0,1

In [5]:
# create X and y features
X = insurance_df.drop(columns = "charges")
y = insurance_df["charges"]

In [7]:
X[:5]

   age     bmi  children  smoker_no  smoker_yes  sex_female  sex_male
0   19  27.900         0          0           1           1         0
1   18  33.770         1          1           0           0         1
2   28  33.000         3          1           0           0         1
3   33  22.705         0          1           0           0         1
4   32  28.880         0          1           0           0         1

In [6]:
X.shape

(1338, 7)

In [8]:
X

      age     bmi  children  smoker_no  smoker_yes  sex_female  sex_male
0      19  27.900         0          0           1           1         0
1      18  33.770         1          1           0           0         1
2      28  33.000         3          1           0           0         1
3      33  22.705         0          1           0           0         1
4      32  28.880         0          1           0           0         1
...   ...     ...       ...        ...         ...         ...       ...
1333   50  30.970         3          1           0           0         1
1334   18  31.920         0          1           0           1         0
1335   18  36.850         0          1           0           1         0
1336   21  25.800         0          1           0           1         0
1337   61  29.070         0          0           1           1         0

[1338 rows x 7 columns]

In [9]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

# Week Two: Applying the Training and Testing Splits and deciding the Model

In [1]:
# Next Stage
#Predict cost, make a deicion based on the cost “if person to insure will cost xyz, not a good candidate”
# Is there a correlation between charges and age
# Is there a correlation between charges and smoker
# Is there a correlation between charges and bmi

In [ ]:
#split data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

In [ ]:
# Create Linear Regression Model
from sklearn.linear_model import LinearRegression
lr  = LinearRegression(normalize = True)
model = LinearRegression()

# fit/train data
model.fit(X_train,y_train)

# predict
y_pred = model.predict(X_test)
print(y_pred.shape)

In [ ]:
y_train.shape

In [ ]:
len(X_test)

In [ ]:
len(X_train)

In [ ]:
len(y_train)

In [ ]:
len(y_test)

In [ ]:
# plot to check?
plt.scatter(y_test,y_pred)
#plt.plot(X, y_train, color='red')
plt.show()

In [ ]:
# Make Predictions